[2020-09-23 21:50] SunMar opened #1 "Add reference to installing Plex certificate in the README"
Hi,

Amazing script, thank you! :) Just installed the master version (2.9.9.1) and it worked great on my DS920+.

Perhaps a useful addition to the README file is to mention that if you used Package Center to install the version from the official Synology repository, you will need to allow packages from other publishers and add Plex to the trusted certificates as per [How to add Plex’s package sign

[2020-09-24 01:17] michealespinola commented on #1
I'm glad you are enjoying it and that it worked well!

Thank you for reminding of this!  I completely agree that a requirements message should be added to the README about Plex's certificate. I had forgotten to add that because I was anticipating that the script being able to self-add the cert - but that's something I still haven't figured out how to do, so I should definately get around to adding

[2020-09-24 02:27] michealespinola commented on #1
I hope the updated README reads well.  Thanks again for the reminder to add the certificate key info!

[2020-09-24 02:27] #1 closed

[2020-09-24 07:25] SunMar commented on #1
Thanks! The `README` read great, clear steps on how to setup :).

[2020-11-07 22:38] mojojojotroi opened #2 "error 289 when trying to update"
Hi Micheal,

According to your preference, I post my issue here, I'm not familiar with GitHub so I hope to be in the right section :)
Below is the log of the very first run, and then the second run which is slightly different (but both exited with code 1):
SYNO.PLEX UPDATER SCRIPT v2.9.9.2

[code]

In fact, the first time I didn't see the downloaded SPK file because it was stored in a new folder P

[2020-11-08 12:41] michealespinola commented on #2
It looks like you may have missed an installation/setup step. I believe that "`error = [289]`" is indicative of a package installation failure because of the 'trusted application publishers' restriction of DSM. Please review installation Step 2 and make certain that you have installed the Plex public key certificate and that you have configured DSM to allow it:

https://github.com/michealespinola/

[2020-11-08 12:56] Broffrey commented on #2
Congrats, it was this reason !
Hum kinda weird, I already added the signing key, so I didn't checked that point, but it disappeared on my both Syno...
Do you think translating error 289 into a more human language is possible ?

[2020-11-08 13:00] michealespinola commented on #2
The error is coming from the Synology tool for installing packages (called `synopkg`), so I don't have any control of it or its output.

[2020-11-08 13:01] michealespinola commented on #2
Glad to hear that it was a simple and easily resolvable issue!

[2020-11-08 13:02] #2 closed

[2020-11-08 13:06] michealespinola commented on #2
I will add a note about this error to the Step 2 documentation.

[2020-11-17 01:43] Broffrey commented on #2
Hi Micheal,
Strange behavior, the certificate is gone again.
I'm gonna open a case to Synology's heldpesk because I don't understand why...

[2020-11-17 02:37] michealespinola commented on #2
I would definitely contact Synology support about it.  I've never experienced what you are describing, nor have I heard of it happening to anyone to the best of my recollection.

Is your 'Trust Level' still set to "Synology Inc. and trusted publishers"?  I personally have 3 3rd party certificates installed, and I've never had to reinstall any of them.

[2020-11-30 15:47] michealespinola commented on #2
@mojojojotroi, just so you know you weren't losing your mind - this has now happened to me! My Plex certificate disappeared from my Synology, but all my other added certs are there). I only noticed because my update script also failed with error 289.

Re-adding the cert was the easy resolution, but I am still unaware of what is causing the Plex cert to disappear.

[2020-11-30 18:15] Broffrey commented on #2
Hi @michealespinola,

Sorry to haven't answered you 2 weeks ago, lot's of things kept me busy, then your message was lost in the flow.
The 'Trust Level' is set to "Synology Inc. and trusted publishers".
Sad to hear this also affects your NAS :/
On my side, what I can report:
- I added the cert key 3 or 4 times (including the first time), so I know I wasn' crazy LOL
- It has "survived" several rebo

[2020-11-30 18:44] michealespinola commented on #2
All of my other certificates are connected to package repositories, so that seems to be the stand-out difference (Plex is the only User-source certificate I have installed). I know that I have rebooted my NAS once since the last Plex update, but that is the only condition/change that I am aware of. The reboot was simply a performance check and not for any type of environment or setup change.

I ha

[2020-12-03 22:53] michealespinola commented on #2
As an additional follow-up, I've lost the Plex certificate again as well as other certificates that corresponded to package sources.  I am thoroughly disturbed at this point.

[2020-12-05 01:31] war59312 opened #3 "DS1815+: Not Working - Output.log Shows"
Hi,

First off, thank you for creating this. You rock.

Sadly it is NOT working on my DS1815+.

I turned on the logging in Task Scheduled and output.log shows the following:

[code]

Thank you,

Will

[2020-12-05 05:31] michealespinola commented on #3
Hi Will,

My apologies! I don't understand how this happened, but line feeds got converted to Windows format from Unix in my text editor before I pushed the new code to GitHub. It's fixed now. Sorry!

[2020-12-05 05:34] #3 closed

[2020-12-05 14:50] yepecece commented on #2
Hi,
I have the same problem. Plex certificate disappear after some time.

[2020-12-05 14:59] war59312 commented on #3
No worries, thank you for fixing it so quickly. :)

Worked perfectly, after changing 7 days to 2 since it's a new release.

[code]

[2020-12-05 15:08] michealespinola commented on #2
This seems like something we all should be opening a support ticket for. I've never had this issue before, and now I've lost certificates for repositories I use.

[2020-12-08 23:32] Broffrey commented on #2
Will it be difficult to add the Plex cert key at the begining of the script ?
I know it's not the main goal of the script and looks like a workaround, but in that way it could be an one-in-all ready2run script.

[2020-12-08 23:51] michealespinola commented on #2
I've looked into it, but could not figure it out. If anyone knows how to do it or can point me to an example, I will gladly automate it.

[2020-12-08 23:54] michealespinola commented on #2
So, after just having replied to this thread; I decided to take a look at the status of my certificates. All of my package source certificates that had gone missing have since reappeared.

edit: cleaned-up frustrated rambling grammar

[2020-12-09 13:46] Nedlinin opened #4 "DSM7/Plex changes"
I know DSM7 and the associated Plex change are in beta/preview.  I just happened to have my task scheduler fail out overnight on the task and figured I'd log an issue here as there does appear to be some changes in the Plex installer when migrating from DSM6->DSM7 that you might want to make a note of/play with.

https://forums.plex.tv/t/dsm-7-plex-media-server-forum-preview/653717

When running t

[2020-12-09 14:33] michealespinola commented on #4
Based on these errors, there appear to be fundamental changes that require alterations to how this script works. This isn't unexpected, and I was forewarned about this by @ChuckPa at Plex. Based on the error, the PMS location seems to have been moved and/or determining it's location cannot be done with the same method the script currently uses.

Thank you for that Plex forums link! My problem asse

[2020-12-09 15:17] Nedlinin commented on #4
@michealespinola : During installation one of the prompts asks you where to store the log file.  If left as default it appears to be

/\<volume\>/@apphome/PlexMediaServer/Plex Media Server/Logs

Simply hard coding the PlexFolder

[code]

appears to mostly work on my DSM7 install but obviously this assumes everyone picked volume1 for the install location and left the custom log location as default.

[2020-12-09 22:38] michealespinola commented on #4
One of the reasons v3.0 of this script hasn't been released yet is because I have been contemplating a "force update" option. I think that this situation further reinforces the need. All of this is giving me reason to expand the command-line/terminal options.

Thank you for all this info!

[2020-12-13 18:25] cowboy opened #5 "Consider contributing to this existing project"
FWIW, I wrote this a while back, and it's been working well. If you have any interests in consolidating our work, LMK!

https://github.com/cowboy/synology-update-plex

[2020-12-15 16:26] #5 closed

[2020-12-15 16:58] michealespinola commented on #5
The same goes both ways if you think there is something that could be enhanced or made more effective here. I'm in a bit of a holding pattern while DSM7 is in beta. Scripts like these might even not be necessary in the near future.

[2020-12-15 17:07] cowboy commented on #5
Sure, I'll take a look and see if there's anything I can contribute!

[2021-02-07 19:13] tillkruss opened #6 "Status: Interrupted"
When I go to "Task Scheduler > Run" I get the "Interrupted" status.

The update itself works flawless.

[code]

[code]

<img width="582" alt="Screen Shot 2021-02-07 at 11 10 30 AM" src="https://user-images.githubusercontent.com/665029/107156887-c2f5bd80-6935-11eb-96d2-20d2bac2ba16.png">

[2021-02-08 02:35] michealespinola commented on #6
Odd! Are you...:

- Running the task as root?
- Saving output to a text file?

[2021-02-08 02:52] tillkruss commented on #6
Yes, running as root and log files are saved as well.

[2021-02-08 02:58] michealespinola commented on #6
Is the output being logged properly? This is a bit out of my area of expertise but based on my Google searches, the "Interrupted (1)" status error while saving output to a text file can be indicative of a permissions issue for the log file location.

It would explain why the script is working, but still generating an error. I suppose a quick test would be to disable task logging and see if the sta

[2021-02-09 00:23] tillkruss commented on #6
Logs are written when no update occurred. This only happens when Plex is actually updated.

[2021-02-09 05:04] michealespinola commented on #6
Oh...  Looking at this with fresh eyes I think I know what's going on. Synology DSM doesn't report on positive results for Tasks. So, to get a status message sent to you that reflects positive results (in this case a successful update of Plex), the script intentionally trips an exit status of 1. This causes the DSM to think that there was a problem involved with the script's execution and sends no

[2021-02-09 05:07] #6 closed

[2021-02-11 14:14] Broffrey commented on #2
Hi @michealespinola & @yepecece !

Did Synology support team answered you about this problem ?
Maybe you did not open a incident case on your side ?
If we are several to mention this, maybe they will pay attention to it !

[2021-02-11 14:21] michealespinola commented on #2
I can affirm that it's still an issue, as I experienced the disappearance of my certificate for Plex within the past two weeks. However, I have not opened any type of incident with Synology.

[2021-02-11 22:35] Broffrey commented on #2
Synology didn't answered to me about this :/

[2021-02-12 04:36] michealespinola commented on #2
I figured as much. I have been holding off on trying to address it with them pending the release of DSM7. I figure that they aren't likely to use resources to fix something they are on the verge of phasing out. If it's still a problem with DSM7, then I will complain - but, I'm not going to have any more clout with them than anyone else.

[2021-02-14 10:31] michealespinola commented on #6
I've updated the readme to reflect this. Thanks for bringing it up as an issue

[2021-02-25 10:34] Med1Q opened #7 "Architecture missing or incorrect in Plex JSON"
The update script fails on the DS116 but I think I narrowed down the issue. The script failed on

[code]

While investigating I found out that ArchFamily is set to armv7l on the DS116, while this architecture is not present in the Plex JSON file. The Plex build needed is the armv7hf_neon one.

Since there is no Plex update at the moment I cannot confirm yet if hard coding ArchFamily to armv7hf_neo

[2021-02-25 17:43] michealespinola commented on #7
This script is written to follow whatever Plex considers supportable by way of the data collected in the JSON, and processed exclusively against that dataset. With that in consideration, this could be a mistake or it could be an intentional exclusion on behalf of Plex.

Because it's exclusively a JSON issue, this needs to be addressed with [Plex support](https://forums.plex.tv/) and is outside of

[2021-03-09 18:48] LearnDriver commented on #7
I had the same issue. My DS414 stopped with the same error.
uname -m also returns armv7l for me.

However, according to the Plex downloads site I need
_ARMv7 (x13 Series, x14 Series (excluding DS414j), DS115j, RS815, and DS216se)_
which is armv7hf instead of armv7hf_neon @Med1Q needs for the DS116.

So the way I interpret the Plex Downloads site (https://www.plex.tv/nl/media-server-downloads/) bot

[2021-03-09 21:12] michealespinola commented on #7
First I have to ask if either of you (@Med1Q, @LearnDriver) have reached out to Plex regarding the exclusions of your devices?  Idealy this is the way to properly resolve your issues - particularly if they are devices officially supported by Plex. This could be an oversight on their part.

I intentionally wrote the script to not require static mappings like this. This was to avoid future script ma

[2021-03-10 07:44] Med1Q commented on #7
I haven't, since I figured this is a limitation of the different ARMv7 versions and their corresponding Plex Media Server versions. The Plex team also manually guides users to the right version on [their own download page](https://www.plex.tv/media-server-downloads/) by providing two links for ARMv7 and the models in- and excluded for both:
`ARMv7 (x13 Series, x14 Series (excluding DS414j), DS115j

[2021-03-10 07:58] Med1Q commented on #7
I've posted on the Plex forums: https://forums.plex.tv/t/synology-different-armv7-versions-and-plex-server-update-via-json/698833

[2021-03-10 08:28] LearnDriver commented on #7
I've been Googling a bit more, but it seems that instead of it being a Plex problem it's more a limitation of the uname command depending on the kernel you are running.

https://stackoverflow.com/questions/29166619/differences-between-arm-versions-armv7-only
https://raspberrypi.stackexchange.com/questions/101215/why-raspberry-pi-4b-claims-that-its-processor-is-armv7l-when-in-official-specif
https:

[2021-03-10 12:48] michealespinola commented on #7
To keep the script and DSM-related setup as simple as possible, I'm now thinking of breaking out customized variables to an .ini file that would not be affected by the self-update process. Do you think that would work equally for you?

[2021-03-10 14:30] Med1Q commented on #7
I guess that will work fine!

[2021-03-10 16:53] michealespinola commented on #7
Great. I've broken out the settings into a separate config.ini file (I wish I had thought of this months ago).  With this done, the self-update feature can be fully implemented, and I will publish the v3.0.0 release later today.

I've read the post in the Plex forums, and am waiting to see what their response is before proceeding with a shim/override solution.

[2021-03-10 20:28] LearnDriver commented on #7
Ah great! Awesome that you picked this up so quickly! Seems that the Plex mod who replied has read this discussion as well, as his two suggestions are exactly the same as we're discussing here 😉  So I guess the override is the way to go!

[2021-03-11 18:47] michealespinola commented on #7
Slight delay as I updated the documentation to reflect changes and also incorporated a notification if the config.ini is missing and configured with "default" settings. This has all been tested and will be published this evening.

[2021-03-19 05:18] tomscaper opened #8 "Issue when running update script"
I have noticed past few days the script is running and failing to update

This is the current output of the script, as i can see it downloads and installs 1.22.1.4200-c073686f2 but that is the version that is already installed, but for some reason the script sees the current version as 1.22.1.4200-6000 so views it as a different version installs it again.

This may fix it self when the next versio

[2021-03-19 10:57] michealespinola commented on #8
The script sees what is reported by the built-in Synology DSM Package Manager, ala:

    /usr/syno/bin/synopkg version "Plex Media Server"

If the wrong version is being reported internally, this was likely a bug in the beta channel version of Plex that you are running. There isn't anything I can programmatically do about it, because it's programmatically wrong in the package from Plex. It's not a

[2021-03-19 10:57] #8 closed

[2021-03-27 11:52] michealespinola commented on #7
Update: My apologies for letting this go without updating the code on GitHub. I've held off on updating the code while dealing with other Plex update-related issues. I wanted to be certain that the code is not contributing or affected by the other issues I am experiencing. I hadn't realized that 2+ weeks (!!!) had passed, but the other issues are still not resolved.

However, I'm confident that th

[2021-03-27 12:51] michealespinola commented on #8
Followup:

I think what you are seeing (and all of us on DSM6 are now seeing) is that "version numbers have been changed to align with Synology’s version numbering for the upcoming DSM 7 etc., as requested by Synology." This quote is from a moderator on the Plex forums.  HTH

[2021-03-27 18:45] Med1Q commented on #7
No problem, no rush 😉

[2021-03-30 12:34] michealespinola commented on #7
Something has changed on GitHub, specifically in the "releases" area, that has broken the 'new version' scrape. I'm currently working on resolving it.

[2021-03-30 13:19] michealespinola commented on #7
I've updated the code and am doing a limited round of testing. I'm currently trying to determine if I can make a change that will avoid this sort of issue in the future.

[2021-03-31 04:21] michealespinola commented on #7
Changes made, and v3.0.1 has been released. If this checks out for everyone, then I'll start on an architecture override variable.

https://github.com/michealespinola/syno.plexupdate/releases

[2021-03-31 07:01] Med1Q commented on #7
With the ArchFamily manual override in place it seems the v3.0.1 script works fine

[2021-03-31 07:40] justme-1968 opened #9 "send notification only if there was any update"
just found your script and i love it. two suggestion though:

- only send notifications if there were any changes.
- use the plex push notification system if possible

thanks
  andre

[2021-03-31 07:43] michealespinola commented on #9
Notifications are only triggered on an actual update installation attempt (success or fail).

I'm not certain what you mean by the "plex push notification"

[2021-03-31 07:44] justme-1968 opened #10 "version identification problem"
i just saw this and i think there might be a problem with the version identification.

    Running Ver: 1.22.2.4264-6000
     Online Ver: 1.22.2.4264-b275c4330 (Beta Channel)

and later:

    Update from: 1.22.2.4264-6000
             to: 1.22.2.4264-b275c4330 failed!

i think the script is trying to install the same version again.

[2021-03-31 07:53] justme-1968 commented on #9
ok.. i think the task should be configured to send e-mails only if there was an 'error' and the script will trigger an 'error' if it wants to send the message.

this should probably mentioned in the installation instructions.

since a few weeks plex has the ability to send push notifications to mobile clients. see here: https://support.plex.tv/articles/push-notifications/

it would be great if you

[2021-03-31 07:54] michealespinola commented on #10
If this is what I think it is, and from what I have been told by Plex support, it's because of a recent internal numbering change made from Plex at the request of Synology in preparation for DSM7. So far this seems to particularly affect the Beta releases as also referenced in this previously reported issue:

I believe this will sort itself out after enough time has passed to push these new versio

[2021-03-31 08:00] michealespinola commented on #9
There arent any tools I am aware of that I could utilize via bash/DSM to trigger a built-in Plex notification.

I'm otherwise unsure of what kind of message you want triggered.  Are you saying that you only want errors, and not be notified of successful version updates?

[2021-03-31 08:00] justme-1968 commented on #10
i see. but i'm not sure it will sort itself out as the reason is not a new versioning scheme but a difference in the version as seen in the file name and the version reported by the installed package from the same file. also as you can see in my example and the example from the linked thread the part after the - is identical in the reported version but different in the file name.

maybe the part a

[2021-03-31 08:05] justme-1968 commented on #9
regarding 1.: no. its fine now. the only thing i wanted was to get no notification if nothing has changed and there was no error.
you are already taking care of this but maybe you should clarify it in the install instructions.

regarding 2.: maybe that could be asked in the plex forum

[2021-03-31 08:08] michealespinola commented on #10
You're right. Thank you for engaging me about this to make me think it through. I'll have to crop the version numbers before comparing them.

[2021-03-31 08:31] michealespinola commented on #9
It only notifies if the condition to update is met (newer version and age requirement) and an update attempt succeeded or failed. Otherwise, there are no notifications no matter how often it is run. Even if a new update is available - an install is not attempted and you will not receive any notifications if it doesn't meet the age requirement and an install is actually attempted.

I'll add a more

[2021-03-31 08:32] #9 closed

[2021-03-31 08:58] michealespinola commented on #10
This has been fixed in v3.0.2

[2021-03-31 08:58] #10 closed

[2021-03-31 08:58] michealespinola commented on #8
This has been fixed in v3.0.2

[2021-03-31 09:05] justme-1968 commented on #10
thanks !

[2021-03-31 09:07] michealespinola commented on #10
No problem. Thank _you_ for bringing it up and making me think about it. I didn't think it through when it was previously brought to my attention.

[2021-03-31 09:12] justme-1968 opened #11 "some random self update ideas"
here are some random ideas for the self update that just came to me when trying to get the 3.0.2 fix for the version umbers:

- have a second MinimumAge setting for the script update
- download new script versions and put them to the archive folder even if SelfUptate is set to 0
  - this would trigger the message and the user could manually check if he wants to update
  - have a --update option fo

[2021-03-31 09:13] justme-1968 commented on #9
just did so here: https://forums.plex.tv/t/trigger-push-notifications-api/705881

[2021-03-31 16:07] michealespinola commented on #11
My thoughts:

1. **Separate minimum age for script updates** / I've been thinking of this, but I'm unsure of the value. Either you want to protect yourself with a minimum age or not. If you don't trust Plex devs, you probably should trust me even less. 😅 Again, I am considering it, but I have been unable to quantify the value of it.
2. **Download everything no matter what to a locale archive** / T

[2021-04-01 08:45] lordvandal commented on #11
One suggestion regarding the third point:

The command you probably want to use is:
**exec "$0" "$@"**

The [**exec** bash builtin command](http://www.gnu.org/software/bash/manual/bashref.html#index-exec) replaces the current program with a new one.

**$0** and **$@** are **bash [special parameters](http://www.gnu.org/savannah-checkouts/gnu/bash/manual/bash.html#Special-Parameters)**:

**($0)** Ex

[2021-04-01 13:42] michealespinola commented on #11
Thank you for this, it's much appreciated! My only outlying concern is how notifications will be affected by the cycled output. This will be interesting to test

[2021-04-01 14:18] lordvandal commented on #11
For the upgrade process I would create a temporary .lock file somewhere with some variables in it:
- script_restarted=0/1 or yes/no

And anything else you think is useful, e.g.:
- old_script_version
- new_script_version

You could even use this lock file for the Plex upgrade too.
And also to test if the script and/or Plex server upgrades were successful.

The report should be issued only after the

[2021-04-01 14:25] michealespinola commented on #11
The report is simply a log of standard stream output from the task. Its not anything I can separately generate and email because of the limitations of the DSM. It's all very hackish, but there isn't a built-in alternative that I am aware of.

[2021-04-01 14:37] michealespinola commented on #11
Thinking about this more while walking away from my keyboard, I think I can understand how what you suggest might be possible with various stream redirections to suppress/capture output until complete and ready to be displayed as a "report" when the script reaches its terminus.

[2021-04-13 20:28] morganm00 commented on #7
I downloaded 3.0.2 and ran into this problem on a DS216play.   I was able to get it to work wrapping the `'uname -m'` call with:
[code]
And then setting ArchFamily in config.ini to
`ArchFamily=armv7hf_neon`

[2021-04-13 20:34] michealespinola commented on #7
😀 This is very much along the lines of what I was going to publish as an update. I'm glad that you were able to do it as easily as I anticipated. I'm looking at incorporating a few other tweaks, but I do not see what you did here as causing an issue. Your variable use in config.ini is the same name I am working with, so any future update should not break what you have done on your own here.

[2021-05-07 13:05] bolshukhin opened #13 "DSM 7"
SYNO.PLEX UPDATE SCRIPT v3.0.2

 * CONFIGURATION FILE (config.ini) IS MISSING, CREATING DEFAULT SETUP...

         Script: syno.plexupdate.sh v3.0.2
     Script Dir: /volume1/Geroev_Avenue_18
    Running Ver: 3.0.2
     Online Ver: 3.0.2
       Released: 2021-03-31 11:55:38+03:00 (37+ days old)
                 * No new version found.

cat: '/Failed to get log file 255/Preferences.xml': No such fi

[2021-05-07 13:17] michealespinola commented on #13
DSM 7 is still beta. I have no means of testing/developing for it, so I cannot support it at this time.

[2021-05-07 13:17] #13 closed

[2021-05-07 14:19] Nedlinin commented on #4
@michealespinola : Is the new script (v3) supposed to be supporting DSM7 already?  Or is there no longer an intent to support it?

[2021-05-07 14:28] michealespinola commented on #4
DSM 7 is still beta, and I have no means of testing/developing for it, so I cannot support it at this time. I hadn't realized this was still hanging as an "open" issue.

When DSM 7 is fully released and I can upgrade to it, I will re-open and re-address any outstanding DSM 7 issues if they exist after updating the script to support it.

v3 externalizes the settings to a config file, and in the mea

[2021-05-07 14:32] Nedlinin commented on #4
DSM7 is still beta (seems like it may be for a long while yet).  However, if your Synology is capable of running Virtual Machines you can run a virtual DSM (one comes free): https://www.wundertech.net/how-to-setup-a-synology-dsm-virtual-machine-vdsm/

This gives the opportunity to test against a non-production environment for any new scripting changes that would need to take place for DSM7.

[2021-05-07 14:51] michealespinola commented on #4
I run a DS1019+. I think it supports VMs, although I've never looked into it before. I'll have to investigate and see if it will cause any disruption to my environment or if I can at least utilize it off-hours to test with.

Thanks for the info

[2021-05-07 19:04] ChuckPa commented on #4
If I may comment?

Please be very careful with anything you do regarding Plex and DSM 7.

I had to perform a complete redesign & rewrite for DSM 7.

Synology has severely restricted applications.  `root` access is no longer available to 3rd party apps.
If anything in Plex's data areas gets munged up,  it will break and there will be no automated way to repair it.

All the new scripting runs as the

[2021-05-07 19:10] Nedlinin commented on #4
@ChuckPa : To my knowledge, it is only *packages* that are restricted.  A script can still be run as root through say SSH.

[code]

So you can still get root privileges for the script though I admit I'm not sure how doing something like a scheduled task works if it requires root in DSM7 (I think it still works but haven't confirmed).

Edit: I can confirm the root is still an option for the task sc

[2021-05-07 21:49] michealespinola commented on #4
@ChuckPa: Please and thank you. Your insight is always very appreciated!

[2021-05-08 00:27] ChuckPa commented on #4
Yes, user scripts can run as root.  If Synology removes that capability, we'll all be in trouble.

I have some new packaging I'm working on now for the Syno.
Currently on my plate is backup and restore of the PMS install.
If lucky,  I'll be able to incorporate import a generic ZIP with it.    :crossed_fingers:

I'll be opening a forum thread when ready.

(so you know what I'm up  to)

[2021-05-14 13:40] theinmostdens opened #14 "Fix for DS218-j"
Hi, I have a DS218-j and the script wasn't working. After going through the logs and such, I found that the ArchFamily which is set using uname -m is not identical to what's used in the Plex json - https://plex.tv/api/downloads/5.json. Plex says armv7hf_neon and uname -m says armv7l. I changed from ArchFamily=$(uname -m) to ArchFamily="armv7hf_neon" and everything works. Maybe an option in the con

[2021-05-14 22:43] michealespinola commented on #14
This is a duplicate of open issue #7

This is being worked on and a config override ability will be released soon.

[2021-05-14 22:43] #14 closed

[2021-05-15 01:27] theinmostdens commented on #14
Woops, sorry. Didn't see that. Nice!

[2021-05-23 22:13] cmatte commented on #4
@michealespinola I have reviewed the script to be compatible with DSM 7 and created a pull request at https://github.com/michealespinola/syno.plexupdate/pull/15 following the DSM 7 structure - feel free to review it, advise any improvements, test it, and merge it ;)
@Nedlinin if you are comfortable with testing an early version, feel free to do so.

I could not test the installation of a new versi

[2021-05-23 22:41] ChuckPa commented on #4
Advisory.

I am working with Synology on DSM 7 RC.

If any of you receive  `DSM 7.0-41876`,   do not install it.  Plex will not install once this version is installed.
Something changed in synopkg since previous release because none of the older PMS version will install either.

I will update when I learn more.

EDIT:

I decided to do some digging into the synopkg issue.   Seems to be a regression

[2021-05-23 22:42] Nedlinin commented on #4
@cmatte : Nice!  I was able to run it but unfortunately I just installed the newest version manually yesterday so I also cannot test the actual update process.  However, it does properly detect my log location, version in use, etc so I suspect it'll work great.

[2021-05-23 23:56] ChuckPa commented on #4
I decided to do some digging into the synopkg issue.   Seems to be a regression to me.   Any thoughts?
[code]

[2021-05-25 12:26] Nedlinin commented on #4
@cmatte : actually, installation did fail..

[code]

Looks like the install succeeds but querying for the info after fails?

Edit: can confirm that I'm now running the newest version but the script believed the install to have failed.

[2021-05-25 19:50] cmatte commented on #4
Thanks @Nedlinin perfect feedback for me to look into it, I will update the pull request with a possible fix in a few days.

[2021-05-25 21:12] michealespinola commented on #4
This is awesome and greatly appreciated! I may not be able to review/merge it for a few days, but it's now on my shortlist of things to do this week.

[2021-05-30 14:26] cmatte commented on #4
@michealespinola I've amended the pull to include the installation fix and bumped version to 3.0.4 in #15.

[2021-06-01 12:36] Nedlinin commented on #4
Looks like DSM 7.0-41882 (RC) just hit the update servers.  I'll be installing it later and checking the script still functions.

@ChuckPa any update you're aware of versus the bugged version you had noted above?

[2021-06-01 18:40] ChuckPa commented on #4
There is an enforcement change in the INFO file.

I've modified the INFO file and seem to be working with 41882.
I am forum-testing the change here:
https://forums.plex.tv/t/synology-dsm-7-build-41882-breaking-changes/719740/25

[2021-06-05 13:48] cmatte commented on #4
Thanks @ChuckPa for the brilliant and timely work there!

DSM 7 RC installs will need a different package format and the official update server does not include that fix yet, so version 1.23.2.4656-85f0adf5b published today won't install until Chuck hand makes it,~~and possibly Plex might have to create two separate releases for pre-RC DSM 7 systems and for DSM 7 RC and above!~~

The current scrip

[2021-06-05 17:23] ChuckPa commented on #4
This is Plex's current status.

https://forums.plex.tv/t/dsm-7-0-41882-release-candidate-breaks-plex-do-not-upgrade/720284

I've already made the changes to packages and released a developer's build (my google drive)  here

I've also submitted the final changes to Engineering

[2021-06-05 17:46] cmatte commented on #4
@ChuckPa if you have got a build 4656 prepared already for x86-64, please shout so I can test the script actual upgrade process. I had 4600 already manually installed when I published the pull and I then upgraded to DSM 7 RC so I'm unable to test it fully without a next package ;)

[2021-06-05 18:03] ChuckPa commented on #4
We aren't chasing Engineering's tail with developer builds.   It's a losing proposition.

I've submitted the changes for them to approve.
Once they approve the change,  you'll have DSM 7.0-41222 and DSM 7.0-41882 support.

Sadly,  as outlined in the announcement I posted above,  this is where our efforts to follow a "BETA" project end.

This is the epitome of why one never attempts to develop prod

[2021-06-05 18:30] cmatte commented on #4
This is great news...I was worried the new type would break the old and require two different releases!! In other words, 3.0.5 of this script shall be ready to work fine when Plex Eng introduce your proposed changes to adapt the new INFO.

Be careful what you wish for, right :hushed:

You could get a hell of a lot so far, this time included to be honest! Keep going :fire:

[2021-06-05 20:00] ChuckPa commented on #4
@cmatte

I've not changed anything about where the package lives or how it runs..... yet.

I changed the INFO file to be compliant with the unannounced and undocumented changes by Synology.

If current trends continue,   I'm probably destined to write  "a killer root shell script" to run as a  Task Scheduler job in order to do migration from DSM 6 ->  DSM X.

This is why we had to stop our develop

[2021-06-11 16:58] jplandry908 commented on #7
Thanks @morganm00 - that IF statement is exactly what I needed. I have a DS715 and used 'ArchFamily=armv7neon' to get mine working.

[2021-06-24 06:36] Med1Q commented on #7
It seems the Plex team renamed the architectures (at least for my DS116) in the JSON file. armv7hf_neon is now called armv7neon

This resulted in the following 'error' which says '* Package download failed, skipping install...' but after that it says 'Update from: 1.23.2.4656 to: 1.23.3.4707 succeeded!' which is incorrect.

[code]

[2021-06-25 07:33] cmatte commented on #4
Good news the latest version of Plex from the servers both downloaded and installed fine via the proposed PR :)

[2021-06-25 07:41] ChuckPa commented on #4
Brace yourselves ....

I have DSM 7.0-41888 in my possession.

It is supposed to have several fixes relating to Plex.   I will tackle Friday afternoon.

[2021-07-04 23:57] trumpy81 commented on #4
@michealespinola

With a little help from Chuck (and I do mean little :p) I have updated your script to work with DSM 7.0-41890.

It is very rough and can use some clean up as the final output is NOT 100%, but the script is functioning at least.

I have modified the following lines in your original script.

31
160
162
178
180
206
210
252

I have attached a zip file containing your original script,

[2021-07-05 02:58] tillkruss commented on #4
@trumpy81 can you open a pull request with your changes?

[2021-07-05 12:27] lennvilardi commented on #4
I've tried your script and I get :
Synology: DS918+ (x86_64), DSM 7.0-41890 Update 0
     Plex Dir: /volume1/Plex/Logs
   Plex Token: 3D3KbZiuFVugZmZVenQu
  Running Ver: 1.23.4.4712-7000
   Online Ver: 1.23.3.4707-ebb5fe9f3 (Public Channel)
     Released: 2021-06-16 19:26:18+02:00 (18+ days old)

How do you get this version : https://downloads.plex.tv/plex-media-server-new/1.23.4.4712-1f0ed4aea/sy

[2021-07-05 17:11] trumpy81 commented on #4
I am not that familiar with Github, I'm flat out learning Linux ... lol

As I said, I have managed to get the script working with some relatively minor changes, but they are DSM 7 specific.

If you are able to download the zip I provided, you may see the changes I have made.

[2021-07-05 17:39] ChuckPa commented on #4
@tillkruss

I helped trumpy with this.     (part of my :smiling_imp: master plan to teach him more Linux)

I have a few suggestions for you.  (I don't have time to write all the mods then let you PR it.. it's your code :stuck_out_tongue:   LOL

[code]
You can now add a little more down below to set and use a variable for the JSON `name:` value you're looking for

[code]

Here's the magic .
I'll le

[2021-07-05 17:44] Nedlinin commented on #4
I believe #15 from @cmatte addresses the vast majority of those changes already (including keeping DSM6 capability though I don't have easy means of testing).

I can confirm that #15 allowed updating for my PMS package just the other day running from a Task Scheduler command.

[2021-07-05 17:44] ChuckPa commented on #4
I'm just sharing.   I am doing a lot of this work here so if it helps -- great

[2021-07-05 22:46] vpvnguyen opened #19 "Script fails to run - Current status: 2 (Interrupted) $'\r': command not found"
## Expected Behavior
syno.plexupdate.sh runs properly on Synology DSM 6.2.4

## Current Behavior
syno.plexupdate.sh fails to run due to CRLF EOL sequence

[code]

## Steps to Reproduce
Run syno.plexupdate.sh in Task Scheduler on DSM 6.2.4

## Possible Solution
Replace CRLF with LF. Enforce git to set .sh files to use LF.
PR: https://github.com/michealespinola/syno.plexupdate/pull/18

[2021-07-06 00:53] michealespinola commented on #19
Did you save the file incorrectly?

[2021-07-06 02:57] tillkruss commented on #4
#15 updated my PMS as well, except now I have to allow insecure connections for some reason.

[2021-07-06 02:59] ChuckPa commented on #4
ALL:

There are some isolated certificate renewal issues.  (July 4th timeframe).   Please reach out  in the forum thread and it will be investigated & reset as appropriate.

[2021-07-06 03:32] michealespinola commented on #4
My apologies for ignoring this issue/thread. I've been having some technical problems (including with my Synology (HDDs, not the unit), and I am coming off of the backside of recovering from it. I meant to post about it earlier, but it has stalled my testing environment.

My rebuild should be complete by the end of the week ✌

[2021-07-07 21:55] vpvnguyen commented on #19
@michealespinola

Hey! Sorry! This is my mistake. After more investigation, it was due to my own editor that set CRLF on the file.
When cloning down on my windows machine, it set the file to CRLF.
I checked on my linux and mac machines and was able to pull this fine.
Sorry for the trouble!

[2021-07-07 21:55] #19 closed

[2021-07-25 22:17] Nedlinin commented on #4
@michealespinola : Any luck with your rebuild + testing?

[2021-07-27 18:35] trumpy81 commented on #4
I just did some more tinkering and corrected a few things in the script.

I have tested it and it is working well as far as I can tell.

I am sure it will need more work ... but hey I'm still learning Linux ... lol

I have attached my updated script.

[syno.plexupdate.zip](https://github.com/michealespinola/syno.plexupdate/files/6887870/syno.plexupdate.zip)

[2021-08-01 14:01] trumpy81 commented on #4
I have done a little more work on the script and it should now run on DSM 6 and/or DSM 7.

The code is still a little messy, but I have tested it and it is working on DSM 6.

I am unable to test it with DSM 7 right now as I am running the updated Plex package that relocates the Plex data folder to /volume1/PlexMediaServer. I still have work to do for the custom location of log files, but otherwise

[2021-08-02 18:01] trumpy81 commented on #4
I have made a few corrections and changes to the script.

I still have not tested it with DSM 7, but I will just as soon as Chuck can get the new packaging in place.

I have attached the updated script here:
[syno.plexupdate-3.0.2c.zip](https://github.com/michealespinola/syno.plexupdate/files/6919195/syno.plexupdate-3.0.2c.zip)

[2021-08-05 09:43] seanhamlin commented on #4
Note that DSM7 is no longer in beta. It is GA. https://www.synology.com/en-global/DSM70. I upgraded my DSM 918+ to it today.

Keen to see a DSM7 version of this script (this script is a lifesaver). It seems this disclaimer is no longer relevant https://github.com/michealespinola/syno.plexupdate/commit/966c8ff3ec5eb45a7843cde54d14d788fd10f85f

Also, instead of zip files attached to this issue, a pu

[2021-08-05 15:35] JD2005L commented on #4
So I'm getting the following error when I run V3.0.2c: `cat: '/AppData/Plex Media Server/Preferences.xml': No such file or directory`  As a result it's not detecting that my Plex is running the Beta update channel.  Otherwise everything else works it would seem, but that's a pretty important function to me.  Any advice on how to resolve?

Full script output:
SYNO.PLEX UPDATE SCRIPT v3.0.2c

[2021-08-05 15:38] Nedlinin commented on #4
@JD2005L : Have you tried the version here: https://github.com/michealespinola/syno.plexupdate/pull/15

[2021-08-05 15:44] JD2005L commented on #4
@Nedlinin Yes that's the version that I've been running that at least works, it will update Plex, but I get the following weird output, here's the last output from a Plex update a few days ago:

SYNO.PLEX UPDATE SCRIPT v3.0.6

         Script: syno.plexupdate.sh v3.0.6
     Script Dir: /volume3/Admin/syno.plexupdate-master
    Running Ver: 3.0.6
     Online Ver: 3.0.2
       Released: 2021-03-31 0

[2021-08-05 15:46] Nedlinin commented on #4
@JD2005L : That is actually not an error just the standard output of the script.  Notice each step lists "code":0 - this is a success in software land.

The printing of the changelog is just there for ease of use (in case you email the output of the script to yourself for instance).

[2021-08-05 15:49] JD2005L commented on #4
Ok interesting, those large blocks of unformatted output just looked like the script was encountering issues to me, but if you say that's normal then sounds good.  Thanks for your help.

[2021-08-08 19:41] trumpy81 commented on #4
@JD2005L My apologies. I should have mentioned that my script updates are intended for the Plex packaging 2.0 Forum Preview version of Plex.

https://forums.plex.tv/t/dsm-7-packaging-2-0-forum-preview/732838

This package should be released to the public in the next week or so, fingers crossed, but if you wish to try it beforehand you may do so. The package is provided in the link above.

Just rem

[2021-08-09 05:44] ChuckPa commented on #4
If I may augment Trumpy,

I can come and post here when it's safe to release this.

The reason you must wait is because Packaging 2.0 is *not* backward compatible with the existing production.

The existing production (1.0) packages do not know anything about this new structure nor does it make any sense to retrofit it at this late date.

[2021-08-09 14:35] michealespinola commented on #4
I'm back from vacation and am catching up on these conversations today. My notification are back on.

[2021-08-09 16:38] JD2005L commented on #4
@trumpy81 thanks for the info, appreciate the explanation, I'll stick with V3.0.6 then until this plex update lands.  Just in case this is helpful, /volume1/... may not be the default location in all cases, as for example my /volume1 is for my virtual machines, and my data (and where my apps are configured to be installed) is on /volume3/...  Just mentioning this in case you're assuming /volume1 i

[2021-08-09 21:18] trumpy81 commented on #4
It does not matter what actual volume you have things installed on. The script can adapt to any volume used.

You are correct though, I should have written the default location will be /volumeX/PlexMediaServer.

[2021-08-10 07:06] smosse commented on #4
Question: Do you think it is necessary to have the MinimumAge value set to other than 0 ? if you are on the beta channel that is idea no ?

[2021-08-11 10:50] trumpy81 commented on #4
You may set the minimum age to anything you like.

I have it set to 0 so that any updates are installed straight away, but some folks like to wait for a while before installing any update.

[2021-08-30 18:49] trumpy81 commented on #4
Plex version 1.24.2.4973 has just been released for Plex Pass users. This version contains the change to the Plex data folder.

The Plex data will now be found in PlexMediaServer, which is accessible in File Station by your admin user only.

I have also been able to test my version of the update script and confirm that it is also working for DSM 7 with the latest release of Plex 1.24.2.4973.

I ha

[2021-09-21 09:24] Macronot commented on #4
Thanks @trumpy81 ,
I have been running your version without issue since you uploaded here.
Can you clarify if there was a change in synology to the release date. The variable NewVerDate appears to be the date when it was released to beta and not the public release date.
Therefore when released to public it is giving a package age greater than the public release date.
For example 1.24.3.5033 releas

[2021-09-21 17:45] trumpy81 commented on #4
I believe this is because Plex have not updated the release date for the Public channel and it is set to the same date as the Beta channel.

If you go to the Plex downloads page you will see the release dates are the same for both Public and Beta.

The json also returns the same date for both Public and Beta channels.

Rather annoying, but there's little we can do about that I'm afraid.

[2021-09-30 16:45] aerasya commented on #4
A big thanks to you @trumpy81.
I can finally running again this script ! :)

[2021-10-06 10:45] apainter2 opened #20 "[3.0.2] Is there a configuration option to facilitate the use of Plex Pass versions?"
Great script, and I am using version 3.0.2 of the script.

Is there a way I can configure it to utilise the Plex Pass versions of PMS? Currently, the public channel is 1.24.3.5033, whereas my Plex Pass version is 1.24.4.5081.

I am unable to see a configuration option within the config.ini.

Is it possible to use the Plex Pass channel?

Thanks,

[2021-10-06 10:48] apainter2 commented on #20
Great script, and I am using version 3.0.2 of the script.

Is there a way I can configure it to utilise the Plex Pass versions of PMS? Currently, the public channel is 1.24.3.5033, whereas my Plex Pass version is 1.24.4.5081.

I am unable to see a configuration option within the config.ini.

Is it possible to use the Plex Pass channel?

Thanks,

[2021-10-20 23:50] isr25 commented on #20
It follows your Plex server configuration in Plex -> Settings -> General -> Server Update Channel. It can be either Beta or Public.

[2021-10-21 21:49] ngthwi commented on #4
Thanks @trumpy81

The script doesn't work on non x86-64 arch (DS214play, DS215j, DS216j, DS216play, DS218j : it failed to update on those 5 NAS).
It doesn't find the correct download url.

[2021-10-21 22:54] trumpy81 commented on #4
The DS214Play & DS415Play were unsupported by Plex, but they gained a reprieve for some reason, I do NOT know why.

The script does NOT work on the DS214Play or the DS415Play in preparation of their status reverting to unsupported though as they are both on the verge of not being able to run Plex adequately at all.

The other models are all ARMv7 of various flavours. Unfortunately, I have no way o

[2021-10-22 08:24] ngthwi commented on #4
DS215j, DS216j, DS216play and DS218j all require the Neon package 😉

[2021-10-28 16:11] ngthwi commented on #4
Here's a fix to the ARMv7/x86 (32 bits) arch issue:

[syno.plexupdate-3.0.2f.zip](https://github.com/michealespinola/syno.plexupdate/files/7435776/syno.plexupdate-3.0.2f.zip)

The following is to place right after this line ArchFamily=$(uname -m) (in #SCRAPE SYNOLOGY CPU ARCHITECTURE FAMILY)

(the mapping arch/model comes from [cowboy/synology-update-plex](https://github.com/cowboy/synology-update

[2021-10-29 14:29] trumpy81 commented on #4
I have updated the script to include a selector for the armv7Neon or armv7hf package. The script is attached below.

You will need to modify the script to suit if you own an ARMv7 model.

If running the 3.0.2f script for the first time, make sure you delete any config.ini file created by a previous script before doing so. The config.ini file will be located in the same folder as the script. You wi

[2021-12-26 23:30] cmatte commented on #4
+ pushed further revision at #15 due to folder structure changes, this wasn't pulling the Beta Channel anymore ;)

[2022-01-04 13:35] lordvandal commented on #11
Some quite extensive examples of self updating scripts, from [https://glennr.nl/](https://glennr.nl/):
- [https://get.glennr.nl/unifi/update/unifi-update.sh](https://get.glennr.nl/unifi/update/unifi-update.sh)
- [https://get.glennr.nl/unifi/install/install_latest/unifi-latest.sh](https://get.glennr.nl/unifi/install/install_latest/unifi-latest.sh)

[2022-01-07 08:50] ferboiar commented on #4
Hi guys

Is this project abandoned? The last commit is from May 2021, and it seems that @michealespinola has not been active since then ... There are several pull requests pending to be attended since June ...

Is there a working fork of this project for DSM7?

regards!!

[2022-01-07 16:04] tillkruss commented on #4
@ferboiar Yeah, I'd sponsor a working fork.

[2022-01-13 11:04] ferboiar commented on #4
https://github.com/YuriyGuts/syno-plex-update

[2022-02-01 09:19] hobbesjaap opened #21 "DSM7 support?"
First of all: a big thank you for putting this together! Takes the headache out of a manual Plex update on Synology every once in a while.

I know some people went the Watchtower/Dockerised route, but I prefer to have the Plex app as a native DSM app.

Now that DSM7 is out of beta and "out in the wild" with a few versions under its belt, is there any news on the update to this script? I've used it

[2022-02-15 23:36] rhys-saldanha commented on #21
I'm a very new Synology user and as such I've been on DSM7 since day 1 - I don't really have a choice! Hopefully this tool can be updated to work with DSM7.

[2022-03-02 02:51] braxtone commented on #21
This looks abandoned per https://github.com/michealespinola/syno.plexupdate/issues/4 so I think you're better off with the fork referenced in there.

[2022-03-04 05:05] hobbesjaap commented on #21
This is great, didn't realise there was an updated fork. Trying it out now. Thanks!

[2022-05-03 03:18] michealespinola commented on #21
The code has been updated to support DSM

[2022-05-03 03:18] #21 closed

[2022-05-03 03:20] michealespinola commented on #20
As you likely already know, but I'm going to say it for any future people with the same question: The update script automatically follows what you have configured in your Plex Media Server.

[2022-05-03 03:20] #20 closed

[2022-05-03 03:22] michealespinola commented on #4
The code has been updated to support DSM 7. After an unfortunate hiatus, I'm able to resume direct support of the script.

[2022-05-03 03:22] #4 closed

[2022-05-03 03:22] #7 closed

[2022-05-03 03:24] michealespinola commented on #11
I will take a look at those for ideas, thanks!

[2022-05-03 03:24] #11 closed

[2022-05-03 03:39] braxtone commented on #21
Hooray! Thanks!

[2022-05-03 22:32] michealespinola opened #22 "Upcoming added features and changes to the code (an open discussion)"
My current priorities and open projects:

1. **Implement a codec downloader/updater**. This will ensure maximum playback availability in the case of internet or plex.tv server unavailability. Codecs are otherwise downloaded on the fly as encountered/needed by the PMS, and this will allow the PMS to have higher availability during outages or intentional offline modes. This also addresses the rare n

[2022-05-05 16:56] liwillbiz opened #23 "User Defined Script entry no longer requires 'bash'"
It seems that in DSM7 they've automatically assumed you're running a script through bash.  So, if you run the copied script 'bash /volume1/homes/admin/scripts/bash/plex/syno.plexupdate/syno.plexupdate.sh' it throws a file not found error as it's basically running 'bash bash /volume1/homes/admin/scripts/bash/plex/syno.plexupdate/syno.plexupdate.sh'

[2022-05-05 18:34] michealespinola commented on #23
Can you tell me where you are seeing this error? I don't see it in my Task Scheduler logs or anywhere else I can think to check.

[2022-05-05 20:41] michealespinola commented on #23
I cannot find any public issues or documentation to support a change in DSM7 to automatically recognize a .sh script's need to be precluded with a call for bash. On my relatively vanilla DS1019+ box, I am unable to run .sh shell script via Task Scheduler or Terminal without specifying the bash interpreter.

Have you made any system customizations or changed the rights to the shell script to be exe

[2022-05-06 23:23] liwillbiz commented on #23
I was receiving the error in my logs.  This is the exact output:

/bin/bash: bash /volume1/homes/name/Scripts/bash/plex/syno.plexupdate.sh: No such file or directory

I haven't made any changes or customizations  to my setup either!  It's really strange and was a head scratcher for me for a good bit.  I wasn't sure why the error was being thrown and kept trying to change the actual path as I thoug

[2022-05-07 00:10] michealespinola commented on #23
What is the first line of your syno.plexupdate.sh script?  As an example, mine is:

    #!/bin/bash

[2022-05-07 00:48] liwillbiz commented on #23
It's the exact same.  I have made no changes to the script either, so it's exactly as downloaded.

Bit of a head scratcher!

[2022-05-07 17:32] michealespinola commented on #23
Personally, I would contact Synology about this. I don't believe this is normal behavior.

In the meantime, I'm glad that you were able to work-around it. I run multiple user defined scripts in different languages, and I always have to include the application/interpreter as a part of the 'run command' field entry. I would be very curious to know what Synology support thinks of what you are experie

[2022-05-12 18:40] liwillbiz commented on #23
I am running the latest version of DSM, so shouldn't be a versioning issue.  I'll contact their support team and see if they have anything to say about it.  Not even sure if it's truly a bug or a feature at this point!

[2022-05-13 06:58] michealespinola commented on #23
In this context, maybe, but I wouldn't consider this a feature. The task scheduler is essentially like a terminal on a timer - there should be no assumption or interpretation of how something should be run with whatever interpreter or apps you want to use.

[2022-05-13 14:26] g6nhu opened #24 "Roll back to 3.0.3 for DSM6?"
I'm running DSM6 on my Synology DS1019+ and the script automatically updated to V4 a couple of nights ago.

I have no desire to update to DSM7, is there any way I can roll this script back to 3.0.2 please?

(/edit - I meant 3.0.2 in the subject, not 3.0.3)

Thanks.

[2022-05-15 07:24] michealespinola commented on #24
Absolutely. Just replace the script with the 3.0.2 version and be sure to set '`SelfUpdate=0'` in the config.ini to stop auto-updates of the script. You can download v3.0.2 script raw here:

https://raw.githubusercontent.com/michealespinola/syno.plexupdate/v3.0.2/syno.plexupdate.sh

or zipped:

https://github.com/michealespinola/syno.plexupdate/archive/refs/tags/v3.0.2.zip

Let me know if there is

[2022-05-15 09:53] g6nhu commented on #24
Thanks, that's all rolled back and working.

[2022-05-17 13:14] bauzer714 opened #25 "Scheduled Task Interrupted with Error and showing success"
I have the update script executed through Synology scheduled task and noticed that there might be a syntax or additional check that might be required.

**Scheduled  Task information:**
[code]

**Script Output**
[code]

** There is no Changelog.txt in the archive/script  location**

![image](https://user-images.githubusercontent.com/13224936/168819352-dd731a97-9fb9-4071-a424-cda01c5002ea.png)

**He

[2022-05-17 19:31] seanhamlin commented on #25
Exact same issue for me. Same version and everything.

[2022-05-18 12:54] bauzer714 commented on #23
I don't run any of my scripts as suggested in the readme, including this one.  I have a handful of scripts executed in the same way.

ReadMe:
`bash {pathtoscript}.sh`

Actual:
![image](https://user-images.githubusercontent.com/13224936/169042905-1ebaf11c-fff4-4106-bc02-159405fa9548.png)

[2022-05-18 21:31] michealespinola commented on #23
The purpose of specifying the interpreter is to make certain that the script is executed as properly and securely as possible. While it's not necessary in some instances, it is a sort of rule of thumb that some admins follow to not allow a direct file association for script execution. By specifying bash in this context, this prevents the task from likely breaking from  future security modification

[2022-05-19 00:55] michealespinola commented on #25
I'm looking into this. I have had it happen and not happen as well.

[2022-05-22 11:10] g6nhu opened #26 "date: invalid date"
This may not be considered important because it's on 3.0.2

For the last couple of days I've been getting this error

[code]

There's no error in the actual Plex update section, this is just checking the script itself.

I'm not going to update to V4 because I'm staying on DSM6.  However I'm a little concerned that this date error could happen on the Plex update section itself.

Thanks.

[2022-05-22 11:19] #24 closed

[2022-05-23 17:58] loicdugay commented on #26
Same here with 4.0.0

`SYNO.PLEX UPDATE SCRIPT v4.0.0

date: invalid date ‘2022-05-03T03:17:19Z\n2022-05-03T03:09:22Z\n2022-05-03T03:09:22Z’
syno.plexupdate.sh: line 75: (1653328624-)/86400: syntax error: operand expected (error token is ")/86400")
         Script: syno.plexupdate.sh v4.0.0
     Script Dir: [CENSURE]
    Running Ver: 4.0.0
     Online Ver: 4.0.0
date: invalid date ‘@’
       Relea

[2022-05-23 18:06] loicdugay commented on #26
Same here with 4.0.0
[code]

[2022-05-23 21:03] michealespinola commented on #26
I can also verify that this is happening. I am looking into it, thank you for bringing it to my attention.

[2022-05-23 21:22] michealespinola commented on #26
@g6nhu I absolutely consider this important if something broke.

It looks like something has happened to affect the slurp of the script's github link to check for updates.  I will need to bang on this a bit to see what has changed.

[2022-05-24 12:01] bauzer714 commented on #25
[Removed this comment]

Bug was opened as #26 and tracked there.

[2022-05-28 18:32] liwillbiz commented on #23
I think we can close this one out.  Synology got back to me and says they haven't changed anything on their end.  Truthfully have no idea why this is happening, but no harm no foul here :)

[2022-05-31 19:22] bauzer714 commented on #25
@seanhamlin  / @michealespinola  - take a peek at the PRs submitted today and let me know your thoughts.

#27 - Github Script Check Syntax Error

#28 - ChangeLog Syntax Error / Task Interrupted Status

[2022-06-16 10:18] MasterSmurf opened #29 "Auto update to v4.0.0 (DSM7.0 only) will break DSM 6.x users"
I really like the script and it was working properly since one or two years. Now, i didn't received the latest Plex Update, because the [syno.plexupdate](https://github.com/michealespinola/syno.plexupdate) performed an auto-update from v3.0.2 to v.4.0.0 and **v4.0.0 is DSM7.0 only...**

I'm currently on **DSM 6.2.4**-25556 Update 6 and I'm not planing to upgrade to DSM7.0 soon. So the syno.plexupd

[2022-06-30 20:49] michealespinola commented on #29
For the record, I absolutely dislike the way that I handled this. In retrospect, I wish I had implemented something to disable automatic updates from DSM6 - but I very much dislike making configuration changes on other people's systems. I ultimately felt that it would be better for DSM6 users to become self-aware of the changes in the script with errors instead of sitting there thinking everything

[2022-07-01 15:16] ytsejam1138 commented on #26
Issue is still present.  Script won't update automatically from 4.0.0 to 4.0.2

date: invalid date '2022-07-01T13:04:21Z\n2022-07-01T13:03:28Z\n2022-07-01T13:03:28Z'
syno.plexupdate.sh: line 75: (1656688289-)/86400: syntax error: operand expected (error token is ")/86400")
Script: [syno.plexupdate.sh](http://syno.plexupdate.sh/) v4.0.0
Script Dir: /volume1/homes/ytsejam/scripts
Running Ver: 4.0.0

[2022-07-01 21:03] michealespinola commented on #26
@ytsejam1138, because of the nature of this bug in that version, and that the datestamp for the script update is invalid, you will have to update the script manually.

[2022-07-17 15:34] #23 closed

[2022-07-17 15:34] #25 closed

[2022-07-17 16:29] g6nhu commented on #26
Is there a fix for those of us running 3.0.2 who are unable to upgrade to 4.0.x due to being on DSM6 please?

[2022-07-17 17:15] michealespinola commented on #26
Note: All of the 4.x.x code is currently for DSM7 only. If you are running DSM6 and have "SelfUpdate=1" enabled in your config.ini file - you should disable it. 3.0.2 is currently the last version that supports DSM6.

If you want to fix the scrape error for version 3.0.2, you should be able to replace the codeblock titled "# SCRAPE GITHUB FOR UPDATE INFO", with the current code in 4.0.2 (lines 67-

[2022-07-17 17:24] michealespinola commented on #26
In case you or others aren't aware, DSM7 introduced significant alterations to the DSM6 that directly affected the location of the Plex Media Server directory as well as how package controls (start/stop/install) work and output information. I was ill prepared for the change.

[2022-07-18 17:57] michealespinola opened #30 "Cosmetic issues regarding spacing involving script update and package update debug data"
There are some 'new lines' that are missing that are preventing certain blocks of information to not be visually separated. This is known and will be fixed in the next release. It's purely cosmetic.

[2022-07-24 18:48] g6nhu commented on #26
Apologies, I've been on holiday so this is the first chance I've had to look at this.

I'm just looking to try this now but do you mean lines 67-86 because 67-80 doesn't appear to be a complete codeblock?

[2022-07-24 20:43] michealespinola commented on #26
My apologies as well. I should have linked to a tagged blob of the code block instead of the master. The code had been updated since I replied with that link, so the lines have shifted at bit. The correct link referencing v4.0.2 should have been this:

https://github.com/michealespinola/syno.plexupdate/blob/v4.0.2/syno.plexupdate.sh#L67-L80

Even though the latest version of the codeblock has addi

[2022-07-24 20:52] g6nhu commented on #26
Bingo!

[code]

That's better, no more error.  Thank you 👍

[2022-07-24 23:55] michealespinola commented on #26
Awesome, glad to hear it! This makes me feel a lot better about how I hopefully will be making the script backward compatible to DSM6 soon.

[2022-07-24 23:55] #26 closed

[2022-08-22 09:16] michealespinola commented on #23
So, oddly enough, I just had this issue happen to me on DSM7 with a scheduled task calling a bash script. Similar to you, my other scripted task stopped responding to the execution via bash, even though it worked normally still in the terminal via ssh.

Thankfully, rebooting my NAS cleared the issue and the task again worked normally/as-expected. I believe the issue was that in the Synology system

[2022-10-11 09:57] ferboiar opened #31 "DSM 7.1 without option to add plex key certificate"
the installation instructions say to set up the plex private key in the package center and enable installation from trusted publishers. But these options do not exist in the DSM 7.1 package centre settings.

How should you configure it then?

[2022-10-11 10:14] michealespinola commented on #31
This step is no longer need with DSM7.

The installation docs were originally written for DSM6,  where this was an important necessary step. As you have noticed, the ability to do this has been removed from DSM7.

I left the step in the instructions because I am still working on back-porting the script to be compatible with DSM6, but thanks to your observation I now see that I neglected to make a

[2022-11-08 23:16] theUtmostgit opened #33 "selfupdate issue - maybe timezone related?"
Firstly - wanted to say how much I really appreciate this script!
It's still working in terms of updating PMS, but, doesn't seem to be able to update itself past script v4.0.0.
Synology NAS: DS916+
DSM is DSM 7.1.1-42962 Update 1.
PMS updated to latest version just last night at script run.

I've been using this script for a while now (started with it on DSM6.2 ish) and aside from manual intervent

[2022-11-08 23:42] michealespinola commented on #33
Yep, it's been out for 113+ days. I was on the verge of releasing the next update (4.1.1) with minor code tweaks, but I'm going to put that on hold for a bit while I look into this.

The script on your system is definitely showing the wrong date for the "Online" version. The current online release version (4.1.0) should be showing this line:

----

       Released: 2022-07-18 10:34:39-07:00 (113+

[2022-11-09 04:16] theUtmostgit commented on #33
Thanks heaps for looking into this, and yeah it does all seem weird.
Everything including the NAS on this network seems to get the right time via NTP from the router.
yep, I will manually replace that script with v 4.1.0, try to do that tonight and let you know the outcome!
Cheers!

[2022-11-09 04:31] theUtmostgit commented on #33
Well that's odd.
Put newer script in.
Kicked off from task scheduler, and in the output log file are only two lines:

 line 8: `<!DOCTYPE html>'

This might be my fault for failing to save the .sh file correctly, if so I apologise, I'll have another go tonight when I have more time, cheers

[2022-11-09 08:29] theUtmostgit commented on #33
It was indeed my own error...
I foolishly right-clicked on the .sh script and being in a rush didn't notice that the option wasn't save file as, but rather save link as...
Anyway, after replacing the largish piece of HTML code snippet with your actual script, v4.1.0 seems to be running fine!

Pretty sure you can close this one as while the self-update didn't work, a manual replace seems to have ma

[2022-11-09 08:29] #33 closed

[2022-11-09 14:20] michealespinola commented on #33
Awesome possum, I'm glad it all that sorted itself relatively painlessly. It would have been nice to know what was going on in the first place, but I think it was likely a glitch than a bug in the script because the date processing bits are pretty standard.

Thanks for closing it out.

[2022-11-09 15:45] neogamaes opened #34 "wget: missing URL"
Hi,

Thanks for your script. It seems perfect for me. However, I just tried to use the v3.0.2 on my DS218j with DSM6.2.4 but I get the error message when trying to download the new plex package:

wget: missing URL
Usage: wget [OPTION]... [URL]...

Any idea ?

Thank you,
Regards,

[2022-11-09 16:11] michealespinola commented on #34
My guess is that the JSON lookup isn't finding a matching release and that the variable that should have been set with the download URL is null.

Please run the following script and post back the "SYNOLOGY NAS INFO" section:

https://github.com/michealespinola/syno.plexupdate/blob/master/Tools/syno.plexinfo.sh

This should give me what I need to verify against the JSON query to see if there is som

[2022-11-09 16:17] michealespinola commented on #34
I should have noted that the "info" script is made for DSM 7, so it will likely throw errors about the Plex parts of the output. That's fine because I only need the top NAS-related info.

[2022-11-09 17:40] neogamaes commented on #34
Thank you for your quick answer.

Running syno.plexinfo I get:

SYNO.PLEX INFO SCRIPT for DSM 7

ping: myip.opendns.com: No address associated with hostname
/volume1/Backup/Script/autoplexupdate/syno.plexinfo.sh: line 68:
***@***.***/PlexMediaServer/Plex Transcoder: No such file or
directory
/volume1/Backup/Script/autoplexupdate/syno.plexinfo.sh: line 69:
***@***.***/PlexMediaServer/Plex Transcode

[2022-11-09 17:59] michealespinola commented on #34
JSON query for "`.nas."Synology".releases[]`" for non-DSM 7 shows that there is not an exact match for your "`armv7l`" architecture:

[code]

Are either of the bottom "`ARMv7`" listings applicable for your device? If so, I should be able to insert a substitution for your device. I'm guessing its the last entry that applies to the 'x18 Series'?

[2022-11-09 18:16] neogamaes commented on #34
Yes you are correct. If I try to download the package manually via Plex it
downloads this
one: PlexMediaServer-1.30.0.6359-1185e28d9-armv7neon_DSM6.spk which is the
last one in your list.

Le mer. 9 nov. 2022 à 17:59, Micheal Espinola ***@***.***> a
écrit :

[2022-11-09 18:52] michealespinola commented on #34
Great, thank you for confirming that! Give me a bit and I will write in a shim for your model architecture to use that build

[2022-11-09 19:29] neogamaes commented on #34
Great thx. Let me know when available.

Le mer. 9 nov. 2022 à 18:52, Micheal Espinola ***@***.***> a
écrit :

[2022-11-09 22:22] michealespinola commented on #34
Please try v3.1.0 for DSM 6:

https://github.com/michealespinola/syno.plexupdate/blob/master/Tools/syno.plexupdate-3.1.0-DSM6.sh

[2022-11-10 08:47] neogamaes commented on #34
That works perfectly fine. Thx a lot.

Le mer. 9 nov. 2022 à 22:22, Micheal Espinola ***@***.***> a
écrit :

[2022-11-10 15:26] #34 closed

[2022-11-29 12:59] ytsejam1138 opened #35 "Unable to Check for Latest Version"
I've been getting this error the last few days:

* UNABLE TO CHECK FOR LATEST VERSION OF PLEX MEDIA SERVER...

date: invalid date '@'
Synology: DS918+ (x86_64), DSM 7.1.1-42962 Update 2

[2022-11-29 23:49] michealespinola commented on #35
You didn't state your script version, but this is likely a duplicate of #26. You will have to update the code manually to the [latest version](https://github.com/michealespinola/syno.plexupdate/releases/latest). If you would prefer to edit the fix into your existing code, the codeblock that needs to be replaced from that issue can be found here:

https://github.com/michealespinola/syno.plexupdate/

[2022-11-29 23:53] ytsejam1138 commented on #35
Sorry about that, I'm running the latest version 4.1.0.

[2022-11-30 00:06] michealespinola commented on #35
I've just tested 4.1.0 against both public and beta channel updates and do not see an issue in my environment. Could you try replacing your existing code with a fresh download of 4.1.0?

[2022-11-30 00:42] ytsejam1138 commented on #35
I replaced the script with a fresh download and I still get the same error.  I have been running your script since 3.0.2e without any issues.  In fact, I have been running 4.0.1 since it was released running every night without any problems until it ran yesterday at 12:00am.

[2022-11-30 01:12] michealespinola commented on #35
I hate making a request like this, but would you try rebooting your NAS? I want to think this is some sort of glitch, because we are otherwise on very similar platforms and it isn't making a lot of sense to me why you are getting a date-related error.

If the error persists after a reboot, please send me the output of running the script in bash debug mode by using a command similar to this:

    b

[2022-11-30 01:24] michealespinola commented on #35
I meant to note, if you want or need to do all of this within DSM, simply add the '`-x`' to the user-defined script setting in the DSM Task Scheduler.

To see the debug output (after running the task):

1. _Select_ the similarly named "**Syno.Plex Update**" task on the **Task Scheduler** main page
2. _Click_ the **Action** pull-down button and _select_ **View Results**
3. _Click_ the **View Detail

[2022-11-30 01:37] ytsejam1138 commented on #35
Thank you so much for all your help.  Rebooted, ran the script and it completed without any errors.  If this was a Windows machine, a reboot would have been the first thing I tired. :)

[2022-11-30 02:09] michealespinola commented on #35
Exactly!  Hahah, I'm also reluctant to reboot the NAS because its not Windows. But a glitch is a glitch!

Glad to hear it resolved the issue.